*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        animation: 1s anima;
}
@keyframes anima{
    0%{opacity: 0%;}
}
header{
    display: grid;
    justify-content: center;
    margin: 4%;
    align-items: center;
    gap: 20px;
}
header h1{
    text-align: center;
    font-family: 'calibri', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
header h5{
    font-size: 1.2rem;
}
form{
    display: grid;
    grid-template: repeat(1, 1fr)/ repeat(2, 1fr);
    gap: 20px;
}
input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #eaecec;
}
#submit{
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    background-color: rgb(255, 203, 71);
}
.container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(200, 200, 200);
    margin: 0 12%;
    padding-bottom: 3%;
    position: relative;
    bottom: 10%;
}
.container h1{
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
    width: 46vh;
    text-align: center;
    margin: 2%;
}
.container p{
    text-align: center;
}
.container i{
    font-size: 4rem;
    background-color:rgb(255, 203, 71);
    color: white;
    border-radius: 100%;
    margin: 2%;
    position: relative;
    left: 40%;
    bottom: 20%;
    padding: 4%;
}
.fond{
    background-color: rgb(255, 203, 71);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
}